/* MAIN ----------------------------------------------------------------- */
@font-face {
    font-family: mainFont;
    src: url('resources/segoeui.woff') format('woff');
}
body {
    font-family: mainFont;
    margin: 0;
}
.button {
    background-color: #1D3344;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    padding: 0.2em 0.6em;
    margin: 0.6em;
    border-radius: 1em;
    border: solid 2px rgba(0, 0, 0, 0);
    text-decoration: none;
}
.button:hover {
    background-color: #13232D;
    cursor: pointer;
    border: solid 2px #F3AC43;
    transition: linear 100ms;
}
.button:hover .bi {
    color: #F3AC43; 
}
.button .bi {
    color: #DADADA;
    margin-right: 0.2em;
}
#email {
    color: #83c3ff;
}

/* HEADER ----------------------------------------------------------------- */
#header {
    background-color: #1D3344;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.2em;
    box-sizing: border-box;
}

#header-profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    background:  radial-gradient(circle ,rgba(0, 0, 0, 0), #1D3344), repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 2em,
        #13232D 2em,
        #13232D 2.5em
      );
      width: 50%;
}
#header-profile-pic > img {
    width: 8em;
    border-radius: 50%;
    border: solid 0.4em #13232D;
    background-color: #13232D;
}

#header-text {
    margin-left: 1em;
    text-align: center;
    max-width: 100vw;
}
#header-text-name {
    color: #F3AC43;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0.2em 0em;
}
#header-text-description {
    color: white;
    font-size: 1.4em;
    padding: 0.2em 0em;
    text-align: center;
}

/* LINKS ----------------------------------------------------------------- */
#links {
    background-color: #13232D;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

/* PROJECTS ----------------------------------------------------------------- */
.projects {
    margin: 1.5em auto;
    width: 80%;
}
.projects-label {
    font-size: 2em;
    font-weight: bold;
    color: #F3AC43;
    margin: 0.1em;
}
#projects-icon-1, #projects-icon-2 {
    color: #F3AC43;
    margin-right: 0.4em;
}
.projects-frame {
    border: solid 0.3em #F3AC43;
    border-radius: 0em 2em;
    box-sizing: border-box;
}
#projects-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-template-areas:
      ". . .";
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}
#projects-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-template-areas:
      ". . . .";
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.project-box {
    background-color: rgba(0, 0, 0, 0.075);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    transition: 100ms ease-out;
}
.projects-grid .project-box:hover { 
    cursor: pointer;
    background-color: rgba(29, 51, 68, 0.22);
    transition: 150ms ease-out;
}
.project-box-date {
    font-weight: bold;
    padding-top: 0.4em;
    font-size: 1.2em;
    color: #13232D;
}
.project-box-duration {
    font-size: 1em;
    padding-bottom: 0.2em;
}
.project-box-duration i {
    margin-right: 0.2em;
}
.project-box-thumbnail {
    padding: 0.4em;
    box-sizing: border-box;
}
.project-box-thumbnail img {
    width: 100%;
    transform: scale(1);
    border: solid 0.3em rgba(0, 0, 0, 0); 
    transition: 80ms ease-out;
    box-sizing: border-box;
}
.projects-grid .project-box:hover .project-box-thumbnail img {
    transform: scale(1.05);
    border: solid 0.3em #F3AC43; 
    transition: 120ms ease-out;
}
.project-box-name {
    font-weight: bold;
    font-size: 1.4em;
    color: #13232D;
    display: flex;
    flex-direction: row;
    width: 90%;
}
.project-box-name:before,
.project-box-name:after {
    content: "";
    flex: 1 1;
    border-bottom: 0.1em solid #13232D;
    margin: auto;
}
.project-box-name:before {
    margin-right: 0.5em;
}
.project-box-name:after {
    margin-left: 0.5em;
}
.project-box-madewith {
    padding-bottom: 0.6em;
}

/* PROJECT ZOOMIN --------------------------------------------------------- */
#modal-content-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 2em;
}
.project-template {
    display: none;
}
.projet-box-zoomin {
    width: 60%;
    height: fit-content;
    margin-right: 2em;
}
.project-box-video {
    margin: 0.5em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-box-video img {
    width: 90%;
}
.project-box-video-wrapper {
    background-color: white;
   
}
.project-descriptions {
    width: 40%;
    padding: 0.5em 0em;
    display: flex;
    flex-direction: column;
}
.project-decription-header {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    position: relative; 
    width:fit-content
}
.project-decription-header-underline {
    height: 0.5em;
    background: rgba(29, 51, 68, 0.32);
    position: absolute;
    transform: skewX(-30deg);
    bottom: 0em;
    opacity: 0.5;
    left: -5px;
    right: -5px;
    z-index: -10;
}
.project-description-text {
    margin-bottom: 1em;
    text-align: justify;
}
.project-description-text ul {
    margin-top: inherit;
    padding-left: 1em;
    margin-bottom: 0;
}
.project-description-text ul li {
    list-style: square;
}

#modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.6);
    animation: modal-fade-in 250ms cubic-bezier(0, 0.5, 0.5, 1);
}
@keyframes modal-fade-in {
    0% {
        background-color: rgba(0, 0, 0, 0); 
    }
    100% {
        background-color: rgba(0, 0, 0, 0.6); 
    }
}
#modal-content {
    background-color: #fefefe;
    position: absolute;
    border-radius: 0.5em; 
    left: 50%;
    top: 50%;
    padding: 1em;
    width: 60%;
    transform: translate(-50%, -50%);
}
.modal-anim-up {
    animation: modal-anim-up 250ms cubic-bezier(0, 0.5, 0.5, 1);
}
@keyframes modal-anim-up {
    0% {
        top: 55%;
    }
    100% {
        top: 50%;
    }
}

.close {
    color: #aaa;
    float: right;
    margin-right: 0.05em;
    font-size: 2em;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.project-button-wrapper {
    width: 100%;
    text-align: center;
    margin: 2.5em 0em;
}
.project-button {
    width: 100%;
    font-size: 1.2em;
    background-color: #1D3344;
    font-weight: bold;
    color: white;
    padding: 0.4em 1.2em;
    border-radius: 1.5em;
    border: solid 0.2em #1D3344;
    text-decoration: none;
    transition: linear 100ms;
}
.project-button:hover {
    background-color: #13232D;
    cursor: pointer;
    box-shadow: 0.6em 0em 0 #F3AC43;
    border: solid 0.2em #F3AC43;
    padding: 0.4em 2em; 
    transition: linear 100ms;
}

/* FOOTER ----------------------------------------------------------------- */
#row {
    display: flex;
}
#footer {
    background-color: #1D3344;
    width: 100%;
    margin-top: 2em;
    padding-bottom: 1em;
}
#footer-text {
    margin: 1em;
    text-align: center;
}
#footer-text-header {
    color: #F3AC43;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0.2em 0em;
}
#footer-text-description {
    color: white;
    font-size: 1.4em;
    padding: 0.2em 0em;
    text-align: center;
    text-justify: inter-word;
}

/* RESPONSIVE --------------------------------------------------------------- */
@media screen and (max-width: 1400px) {
    .projects {
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    #projects-grid-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        ". ."
        ". .";    
    }
    #projects-grid-2 {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        ". ."
        ". .";    
    }
    .projects {
        width: 90%;
    }
    #modal {
        overflow: auto;
    }
    #modal-content {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        border-radius: 0;
    }
    
    #modal-content-wrapper {
        flex-direction: column;
    }
    .projet-box-zoomin {
        width : 100%;
    }
    .project-descriptions {
        width: 100%;
        margin-top: 1em;
    }
}
@media screen and (max-width: 800px) {
    #projects-grid-1, #projects-grid-2 {
        display: flex;
        flex-direction: column;
    }
    .projects { 
        width: 90%; 
    }
    #links {
        flex-direction: column;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #modal-content {
        width: 100%;
        top: 0;
        transform: translate(-50%, 0);
    }
    @keyframes modal-anim-up {
        0% {
            top: 55%;
        }
        100% {
            top: 0;
        }
    }
    #modal {
        background-color: white;
    }
    @keyframes modal-fade-in {
        0% {
            background-color: rgba(0, 0, 0, 0); 
        }
        100% {
            background-color: white; 
        }
    }
    #header-profile-pic {
        width: 100%;
    }
    .projects-label {
        font-size: 1.6em;
    }
    .projects-frame {
        border: solid 0.2em #F3AC43;
    }
    #header-text-name, #footer-text-header {
        font-size: 1.4em;
    }
    #header-text-description, #footer-text-description {
        font-size: 1.1em;
    }
    #header-text-description > div {
        margin-bottom: 0.6em; 
    }
    .button {
        font-size: 1.1em;
        padding: 0.16em 0.4em;
        margin: 0.4em 0.6em;
        border-radius: 1em;
        border: solid 2px rgba(0, 0, 0, 0);
        text-decoration: none;
    }
}